@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Poppins:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 14px;
    font-family: 'Kaisei Opti', 'Poppins', sans-serif;
}
a {
    text-decoration: none;
}
.container {
    width: 100%;
    display: flex;
    align-items: center;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* Home/Navbar */
#homepage {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    width: 100vw;
    height: auto;
}
#homepage .header-container {
    min-height: 7vh;
    background-color: rgba(0, 0, 0, 0.15);
}
#homepage .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    margin: 0 auto;
}
#homepage .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30, 0.75);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .8s ease left;
}
#homepage .nav-list ul.active {
    left: 0%;
}
#homepage .nav-list ul a {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#homepage .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #f7f71b;
    font-size: 4rem;
    letter-spacing: 20px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}
#homepage .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
#homepage .home-logo {
    width: 20%;
    height: 20%;
    object-fit: cover;
    margin-left: 20px;
    padding: 5px;
}
/* Hamburger Section */
#homepage .hamburger {
    position: relative;
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.9);
    margin-right: 20px;
}
#homepage .hamburger .bar {
    height: 5px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}
#homepage .hamburger .bar::after,
#homepage .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;
}
#homepage .hamburger .bar::after {
    top: 8px;
}
#homepage .hamburger .bar::before {
    bottom: 8px;
}
#homepage .hamburger.active .bar::before {
    bottom: 0;
}
#homepage .hamburger.active .bar::after {
    top: 0;
}
/* Hero */
#hero {
    background-color: red;
    min-height: 100vh;
    position: relative;
}
/* Footer */
#footer {
    background-color: #101010;
}
#footer .footer-container {
    min-height: 100px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer .footer-container h1 {
    color: white;
}
#footer .social-icons a {
    color: #f7f71b;
}
